# Python 가상환경 관련 폴더 무시
venv/
bin/
lib/
pyvenv.cfg

# Python 컴파일 파일 무시
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# IDE 설정파일 무시
.vscode/
.idea/

#추가 자료 무시
/uploads

# Mac에서 생성되는 파일 무시
.DS_Store

/cert
cert.pem
key.pem
aiserver_cert.pem

openssl.cnf